/*https://www.transparenttextures.com*/

body {
	background-color: #001642;
	background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	font-size: 100%;
	font-family: "Lucida Console", Verdana, Arial;
	color: #c9d8ef;
	text-align: center;
}

.container {
	background-color: rgba(180, 200, 232, 0.3);
	border: 1px ridge #c9d8ef;
	/*border-style: ridge;
	border-width: 1px;
	border-color: #c9d8ef;*/
	/*border-radius: 5px;*/
	padding: 5px;
}

h1 {
	font-variant: small-caps;
}

p {
	font-size: 1em;
	text-align: justify;
}